<section class="">
    <div class="container mt-4">
        <h5 class="h3">Connect With Us.</h5>
    </div>
    <iframe class="mt-3"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3913.2256302601045!2d75.77166101485253!3d11.244805653448061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba659450fa90c3d%3A0x2ac305c98f1dc2d3!2skaizen%20coworks!5e0!3m2!1sen!2sin!4v1640918310352!5m2!1sen!2sin"
        width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    <div class="container mt-3">
        <div class="row mt-5" style="justify-content: center; ">
            <div class="col-md-4 d-flex">
                <div class="d-flex flex-column" style="margin-right: 15px;">
                    <span class="iconify mt-4" data-width="34" data-icon="bx:bx-phone-call"></span>
                    <span class="iconify mt-4" data-width="34" data-icon="ci:mail"></span>
                    <span class="iconify mt-4" data-width="34" data-icon="akar-icons:location"></span>
                </div>
                <div class="d-flex flex-column" style="">
                    <h5 class="mt-4">+91 999 5893 445</h5>
                    <h5 class="mt-4">kaizencoworks@gmail.com</h5>
                    <h5 class="mt-4" style="max-width: 300px;">58/1617, S Beach Rd, Kuttichira, Kozhikode , Kerala
                        673001. Kerala, Calicut, India.</h5>
                </div>
            </div>
            <div class="col-md-5">
                <form>
                    <div class="d-flex flex-column">
                        <label for="">Name : </label>
                        <input type="text" class="mt-2 mb-2" style="background-color: #EDF2F6; border-radius: 0; border: none; outline: none; height: 45px;" >
                    </div>
                    <div class="d-flex flex-column">
                        <label for="">Phone : </label>
                        <input type="tel" class="mt-2 mb-2" style="background-color: #EDF2F6; border-radius: 0; border: none; outline: none; height: 45px;" >
                    </div>
                    <div class="d-flex flex-column">
                        <label for="">Message : </label>
                        <textarea class="mt-2 mb-2" name="" id="" cols="10" rows="5" style="background-color: #EDF2F6; border-radius: 0; border: none; outline: none; "></textarea>
                    </div>
                    <div class="d-flex" style="align-items: center; width: 100%; justify-content: center;">
                        <button class="mt-3" style="background-color: #FDC66F; color: #222; border: none; outline: none; padding: 5px 20px 5px 20px;" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
    <section class="footer d-flex flex-column mt-5" style="align-items: center; justify-content: center;">
        <h6 class="mt-3">Kaizen Coworks © All Rights Reserved </h6>
        <p>Designed and devoloped by advodigitals</p>
    </section>