<nav class="navbar navbar-expand-lg   ">
    <div class="container ">
        <a class="navbar-brand" href="#">Kaizen Coworks.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item"></li>
                <a class="nav-link ">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blogs</a>
                </li>
                <li class="nav-item"></li>
                <a class="nav-link ">My Applications</a>
                </li>

            </ul>
            <div>
                <a href="/login" class="loginbtn">Log in</a>
            </div>
        </div>
    </div>
</nav>
<section class="ourServices">
    <div class="parallax p-5">
        <div>
            <h2 class="mt-4">Our Services</h2>
        </div>
        <div class="container pb-5">

            <div class="row">
                <div class="col-lg-6 mt-5   ">
                    <div class="card  ">
                        <div class="col-md-8 col-12 p-3">
                            <h5 class="my-3">Private Limited Company</h5>
                            <span class="my-3">The default option for start-ups and growing businesses as only private
                                limited companies can
                                raise venture capital. This type of company offers .</span>

                            <divc class="price">
                                <span>@ &#8377; :19999</span>
                            </divc>

                        </div>
                        <div class="col-md-4 col-12">
                            <div class="d-flex justify-content-center">
                                <a href="/PrivateLimitedCompany" class="yellobtn">Know more</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 mt-5   ">
                    <div class="card ">
                        <div class="col-md-8 col-12">

                            <h5 class="my-3">Limited Liability Partnership</h5>
                            <span class="my-3">The default option for start-ups and growing businesses as only private
                                limited companies can
                                raise venture capital. This type of company offers .</span>

                            <divc class="price">
                                <span>@ &#8377; :25000</span>
                            </divc>

                        </div>
                        <div class="col-md-4 col-12">
                            <div class="d-flex justify-content-center">

                                <a href="/LimitedLiabilityPartnership" class="yellobtn">Know more</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 mt-5   ">
                    <div class="card ">
                        <div class="col-md-8 col-12">

                            <h5 class="my-3">One Person Company</h5>
                            <span class="my-3">The default option for start-ups and growing businesses as only private
                                limited companies can
                                raise venture capital. This type of company offers .</span>

                            <divc class="price">
                                <span>@ &#8377; :12500</span>
                            </divc>

                        </div>
                        <div class="col-md-4 col-12">
                            <div class="d-flex justify-content-center">

                                <a href="/OnePersonCompany" class="yellobtn">Know more</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 mt-5   ">
                    <div class="card ">
                        <div class="col-md-8 col-12">

                            <h5 class="my-3">Partnership Firm</h5>
                            <span class="my-3">The default option for start-ups and growing businesses as only private
                                limited companies can
                                raise venture capital. This type of company offers .</span>

                            <divc class="price">
                                <span>@ &#8377; :10000</span>
                            </divc>

                        </div>
                        <div class="col-md-4 col-12">
                            <div class="d-flex justify-content-center">

                                <a href="/PartnershipFirm" class="yellobtn">Know more</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 mt-5   ">
                    <div class="card ">
                        <div class="col-md-8 col-12">

                            <h5 class="my-3">Proprietorship</h5>
                            <span class="my-3">The default option for start-ups and growing businesses as only private
                                limited companies can
                                raise venture capital. This type of company offers .</span>

                            <divc class="price">
                                <span>@ &#8377; :19999</span>
                            </divc>

                        </div>
                        <div class="col-md-4 col-12">
                            <div class="d-flex justify-content-center">

                                <a href="/Proprietorship" class="yellobtn">Know more</a>
                            </div>
                        </div>

                    </div>
                </div>





            </div>
         

        </div>


    </div>
</section>