
    <section class="ServiceDetailpage">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-7">
                    <div class="content">

                        <h5>Get PF Registration To Protect your Business.</h5>
                        <h1>
                            Proprietorship
                        </h1>
                        <span>LLPs are similar to Private Limited Companies with regard to compliance and operational
                            requirements. Acknowledged as a separate legal entity from the partners, it can engage or
                            include in any legal proceedings in its own name. That allows the partners of an LLP to
                            separate
                            business accounts or debts being collected from their personal assets.</span>

                        <div class="mt-5">
                            <h4>WHAT IS LIMITED LIABILITY PARTNERSHIP?</h4>
                            <span>A Limited Liability Partnership, also known as an LLP, operates as an independent
                                entity
                                with scope for flexibility as far as the changing partners are concerned. This implies
                                that
                                even with business partners replacing, their rights, liabilities, and interests remain
                                unchanged.This is one of the principal reasons people choose LLPs when considering their
                                company registration in India. If you're wondering how to register a company as an LLP,
                                then
                                note that you need at least two partners to do so. While there is no limit on the number
                                of
                                partners that can be present at the time of the company registration, it is essential to
                                keep in mind that at least one partner has to be a citizen of India.Read more.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="box">
                        <div class="row  mb-3">
                            <div class="col-7 title">
                                Limited Liablity Partnership
                            </div>
                            <div class="col-5 price">
                                <span>19999</span>
                            </div>

                        </div>
                        <div>
                            <ul>

                                <li> Name Search Report</li>
                                <li>Name approval by form1 (Reserve Your Unique Name)</li>
                                <li> DSC(2no) (Extra Dsc Per Director – Rs-1000)</li>
                                <li> Filing LLP Form2</li>
                                <li>Issue of Incorporation Certificate</li>
                                <li> Include Government Fees & Stamp Duty for Authorized Capital Upto -1 Lakh except for
                                    the</li>
                                <li>state of Punjab, MP and Kerala.</li>
                                <li> Msme Registration</li>
                                <li> Share Certificate (Soft Copy)</li>
                                <li> GST Registration</li>
                                <li> Trademark Registration</li>
                                <li> 1month free GST filing</li>
                                <li> NDA</li>
                                <li> Guideline for Startup India Registration.</li>
                                <li> Stamp and Company Seal</li>
                                <li> Bank – Current Account Opening</li>
                                <li>10% Discount on Future Service</li>
                                <li> PAN & TAN</li>
                            </ul>

                        </div>
                        <div class="row justify-content-center">

                            <a href="/addservice/Proprietorship" class="yellobtn ">Start Registration</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="secondSection">
            <div class="container">
                <div class="row mt-5 align-items-center p-3">
                    <div class="col-lg-6">
                        <h1 class="fw-bold">Why should you register for LLP ?</h1>
                    </div>
                    <div class="col-lg-6">
                        <div class="row ">
                            <div class="col-6 p-2">
                                <div class="roundShape"></div>
                                <div>
                                    <h4 class="textYello">Less Costs</h4>
                                </div>
                                <span>Company registration can often be a costly affair; however, this is not the case
                                    when it
                                    comes to LLPs.Compliances are also at a much lower rate.</span>
                            </div>
                            <div class="col-6 p-2">
                                <div class="roundShape"></div>
                                <div>
                                    <h4 class="textYello">Less Costs</h4>
                                </div>
                                <span>Company registration can often be a costly affair; however, this is not the case
                                    when it
                                    comes to LLPs.Compliances are also at a much lower rate.</span>
                            </div>
                            <div class="col-6 p-2">
                                <div class="roundShape"></div>
                                <div>
                                    <h4 class="textYello">Less Costs</h4>
                                </div>
                                <span>Company registration can often be a costly affair; however, this is not the case
                                    when it
                                    comes to LLPs.Compliances are also at a much lower rate.</span>
                            </div>
                            <div class="col-6 p-2">
                                <div class="roundShape"></div>
                                <div>
                                    <h4 class="textYello">Less Costs</h4>
                                </div>
                                <span>Company registration can often be a costly affair; however, this is not the case
                                    when it
                                    comes to LLPs.Compliances are also at a much lower rate.</span>
                            </div>
                            <div class="col-6"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container mb-3">
            <div class="row">
                <div class="col-md-4 mt-4 ">
                    <div class="yelloCard">

                        <h4>Minimum criteria</h4>
                        <ul>


                            <li>A minimum of 2 people should be the partners</li>

                            <li>A minimum of 2 Directors are required (note that shareholders can be directors, and at
                                least one director must be a resident of India) </li>
                            <li>There is no minimum share capital required for starting an LLP</li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-4 mt-4 ">
                    <div class="yelloCard">

                        <h4>Documents for Directors</h4>
                        <ul>


                            <li>A minimum of 2 people should be the partners</li>

                            <li>A minimum of 2 Directors are required (note that shareholders can be directors, and at
                                least one director must be a resident of India)</li>
                            <li>There is no minimum share capital required for starting an LLP </li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-4  mt-4">
                    <div class="yelloCard">

                        <h4>Documents required to register the office
                        </h4>
                        <ul>

                            <li>A minimum of 2 people should be the partners</li>
                            <li>A minimum of 2 Directors are required (note that shareholders can be directors, and at
                                least one director must be a resident of India)</li>
                            <li>There is no minimum share capital required for starting an LLP</li>

                        </ul>
                    </div>

                </div>

            </div>
        </div>  

    </section>


    <section class="footer">
        <h5>Kaizen Coworks © All Rights Reserved </h5>
        <h6>Designed and devoloped by advodigitals</h6>
    </section>