<section>
    <div>
        <h2 class="formHeading">
            One Person Company
            <br>
            Registration
        </h2>
    </div>
    <form id="demoForm" action="/form/{{id}}" enctype="multipart/form-data" method="post">

        <div class="container mt-5" id="BusinessDetails">
            <div class="container d-flex justify-content-between mt-3 mb-2">
                <h4>Business Details.</h4>
                <h5 class="formPrice">Totel Price : Rs. <span id="price">{{Totel}}/-</span> </h5>
            </div>

            <div class="business-wrapper  p-5">
                <div class="row">
                    <h5 class="regTitle">Business Name Suggetion : </h5>
                    <div class="col-lg-6">
                        <div class="d-flex flex-column">
                            <label for="" class="regLabel">Name 1</label>
                            <input type="text" name="bname" required id="" class="regInput name input ">
                        </div>
                        <span></span>
                    </div>

                </div>
                <div class=" p-3">
                    <div class="d-flex flex-column">
                        <label for="" class="regLabel">About the Business : </label>
                        <textarea class="regTextArea mt-2 input" name="activity" required id="" cols="30"
                            rows="5"></textarea>
                    </div>

                </div>
            </div>
        </div>



        <div class="container mt-5" id="director1">
            <h4>Director</h4>
            <div class="director-wrapper  ">
                <div class="row">
                    <div class="col-lg-6 p-5">
                        <div class="col-lg-12 mt-1">
                            <div class="d-flex flex-column">
                                <label for="" class="regLabel">Director Name : </label>
                                <input type="text" name="name" required id="" class="regInput input">
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="d-flex flex-column">
                                <label for="" class="regLabel">Phone Number : </label>
                                <input type="text" name="phone" required id="" class="regInput input">
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="d-flex flex-column">
                                <label for="" class="regLabel">Email : </label>
                                <input type="text" name="email" required id="" class="regInput input">
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="d-flex flex-column">
                                <label for="" class="regLabel">PAN Number : </label>
                                <input type="text" name="pan" required id="" class="regInput input">
                            </div>
                        </div>

                        <div class="col-lg-12 mt-3">
                            <div class="form-check">
                                <input class="form-check-input checkbox" type="checkbox" name="dinCheck" value=""
                                    id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Have a DIN number?
                                </label>
                            </div>
                            <div class="din">

                                <div class="  d-flex flex-column mt-3 ">
                                    <label for="" class="regLabel">DIN Number : </label>
                                    <input type="text" name="din" id="" class="regInput">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-5 upload-wrapper">
                        <div class="d-flex flex-column align-items-center">
                            <label for="">Upload Photo</label>
                            <img src="/Assets/profile.svg" alt="" class="avatarImg ">
                            <div class="uploadbtnCvr">
                                <span>Upload Photo</span>
                                <input type="file" src="" required name="photo" id="photo"
                                    class="uploadbtn photofile files" accept="image/*">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 p-5">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="formFile" class="form-label">Identification Proof</label>
                                <select class="form-select input" name="proof" required
                                    aria-label="Default select example">
                                    <option selected value="">Choose Identification Proof</option>
                                    <option value="1">Driving License</option>
                                    <option value="2">Voter ID</option>
                                    <option value="3">Passport</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Upload Identification Proof</label>
                                    <input class="form-control files" required type="file" name="id" id="formFile">
                                </div>
                            </div>
                            <div class="col-lg-6 mt-3">
                                <label for="formFile" class="form-label">Residential Details</label>
                                <select class="form-select input" name="id" required
                                    aria-label="Default select example">
                                    <option selected value="">Residential Address Proof</option>
                                    <option value="1">Bank Statement</option>
                                    <option value="2">Electricity Bill </option>
                                    <option value="3">Water Bill</option>
                                    <option value="3">Telephone Bill</option>
                                </select>
                            </div>
                            <div class="col-lg-6 mt-3">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Upload Identification Proof</label>
                                    <input class="form-control files" required name="proof" type="file" id="formFile">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container mt-5">
            <h4>Nominy</h4>
            <div class="director-wrapper  ">
                <div class="row">
                    <div class="col-lg-6 p-5">
                        <div class="col-lg-12 mt-1">
                            <div class="d-flex flex-column">
                                <label for="" class="regLabel">Nominy Name : </label>
                                <input type="text" name="dir2name" required id="" class="regInput input">
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="d-flex flex-column">
                                <label for="" class="regLabel">Phone Number : </label>
                                <input type="text" name="dir2phone" required id="" class="regInput input">
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="d-flex flex-column">
                                <label for="" class="regLabel">Email : </label>
                                <input type="text" name="dir2email" required id="" class="regInput input">
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="d-flex flex-column">
                                <label for="" class="regLabel">PAN Number : </label>
                                <input type="text" name="dir2pan" required id="" class="regInput input">
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="form-check">
                                <input class="form-check-input checkbox" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Have a DIN number?
                                </label>
                            </div>
                            <div class="din">

                                <div class="  d-flex flex-column mt-3 ">
                                    <label for="" class="regLabel">DIN Number : </label>
                                    <input type="text" name="dir2din" id="" class="regInput ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-5 upload-wrapper">
                        <div class="d-flex flex-column align-items-center">
                            <label for="">Upload Photo</label>
                            <img src="/Assets/profile.svg" alt="" class="avatarImg">
                            <div class="uploadbtnCvr">
                                <span>Upload Photo</span>
                                <input type="file" name="photo" id="" required class="photos uploadbtn files">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 p-5">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="formFile" class="form-label">Identification Proof</label>
                                <select class="form-select input" required name="dir2idselect"
                                    aria-label="Default select example">
                                    <option selected value="">Choose Identification Proof</option>
                                    <option value="1">Driving License</option>
                                    <option value="2">Voter ID</option>
                                    <option value="3">Passport</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Upload Identification Proof</label>
                                    <input class="form-control files" required name="id" type="file" id="formFile">
                                </div>
                            </div>
                            <div class="col-lg-6 mt-3">
                                <label for="formFile" class="form-label">Residential Details</label>
                                <select class="form-select input" required name="dir2detailsselect"
                                    aria-label="Default select example">
                                    <option selected value="">Residential Address Proof</option>
                                    <option value="1">Bank Statement</option>
                                    <option value="2">Electricity Bill </option>
                                    <option value="3">Water Bill</option>
                                    <option value="3">Telephone Bill</option>
                                </select>
                            </div>
                            <div class="col-lg-6 mt-3">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Upload Identification Proof</label>
                                    <input class="form-control files" required name="proof" type="file" id="formFile">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






    </form>

    <div class="container d-flex justify-content-between mt-3 mb-2">
        <h5 class="formPrice">Totel Price : &#x20B9; <span id="price">{{Totel}}/-</span> </h5>
    </div>
    <input type="text" name="" id="id" value={{id}} class="displaynone">
    <div class="d-flex justify-content-center">
        <button id="submit" class="yellobtn">Save and Checkout</button>

    </div>



</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const uploadbtns = document.querySelectorAll('.uploadbtn')


    uploadbtns.forEach(function (uploadbtn) {
        uploadbtn.addEventListener('change', (event) => {
            const src = URL.createObjectURL(event.target.files[0]);

            let formCheck = uploadbtn.parentElement
            let formCheckParent = formCheck.parentElement
            let avatarImg = formCheckParent.querySelector('.avatarImg')
            avatarImg.src = src

        })
    });


    document.getElementById("submit").addEventListener("click", (e) => {
        e.preventDefault()
        let id = document.getElementById('id').value

        let demoForm = document.getElementById('demoForm')
        let inputs = demoForm.querySelectorAll('.input')
        let files = demoForm.querySelectorAll('.files')
        var formData = new FormData();
        let valid = true

        for (i = 0; i < inputs.length; i++) {

            formData.append(inputs[i].name, inputs[i].value);


            if (inputs[i].value == "") {
                console.log(">>>>>>>>>>>>>>>>>>>>>>>", inputs[i].name)
                inputs[i].classList.add("invalid");
                valid = false

            } else {
                inputs[i].classList.remove("invalid");
            }
        }
        console.log(files)

        for (i = 0; i < files.length; i++) {
            let file = files[i]

            formData.append('photo', file.files[0]);


            if (files[i].files.length <= 0) {
                console.log(">>>>>>>>>>>>>>>>>>>>>>>", files[i].name)
                files[i].classList.add("invalid");
                valid = false

            } else {
                files[i].classList.remove("invalid");
            }
        }






        if (valid) {
            alert()


            axios.post(`/form/${id}`, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(function (response) {
                console.log(response)
                if (response.data.formSave) {
                    window.location.href = `/checkout/${response.data.id}`

                } else {
                    window.location.href = `/checkout/${response.id}`

                }
            });

        }











    });




</script>