<Header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark  sticky-top">
        <div class="container ">
            <a class="navbar-brand" href="#">Kaizen Coworks.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item"></li>
                    <a class="nav-link ">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blogs</a>
                    </li>
                    <li class="nav-item"></li>
                    <a class="nav-link ">My Applications</a>
                    </li>

                </ul>
                <div>
                    <a href="" class="loginbtn">Log in</a>
                </div>
            </div>
        </div>
    </nav>
</Header>
<section>


    <form enctype="multipart/form-data" method="post" id="demoForm">
        <div class="container mt-5" id="businessDetails">
            <h4>Business Details.</h4>
            <div class="business-wrapper  p-5">
                <div class="row">
                    <h5 class="regTitle">Business Name Suggetion : </h5>
                    <div class="col-lg-6">
                        <div class="d-flex flex-column">
                            <label for="" class="regLabel">Name </label>
                            <input type="text" name="bname" id="" class="regInput name input">
                        </div>
                        <span></span>
                    </div>

                </div>
                <div class=" p-3">
                    <div class="d-flex flex-column">
                        <label for="" class="regLabel">About the Business : </label>
                        <textarea class="regTextArea mt-2 input" name="activity" id="" cols="30" rows="5"></textarea>
                    </div>

                </div>
            </div>
        </div>
        <div class="container mt-5" id="director1">
            <h4>Director 1.</h4>
            <div class="director-wrapper  ">
                <div class="row">
                    <div class="col-lg-6 p-5">
                        <div class="col-lg-12 mt-1">
                            <div class="d-flex flex-column">
                                <label for="" class="regLabel">Director Name : </label>
                                <input type="text" name="name" id="" class="regInput  input">
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="d-flex flex-column">
                                <label for="" class="regLabel">Phone Number : </label>
                                <input type="text" name="phone" id="" class="regInput input">
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="d-flex flex-column">
                                <label for="" class="regLabel">Email : </label>
                                <input type="text" name="email" id="" class="regInput input">
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="d-flex flex-column">
                                <label for="" class="regLabel">PAN Number : </label>
                                <input type="text" name="pan" id="" class="regInput input">
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-6 p-5 upload-wrapper">
                        <div class="d-flex flex-column align-items-center">
                            <label for="">Upload Photo</label>
                            <img src="/Assets/profile.svg" alt="" class="avatarImg">
                            <div class="uploadbtnCvr">
                                <span>Upload Photo</span>
                                <input type="file" src="" name="photo" id="photo" class="uploadbtn photofile files"
                                    accept="image/*">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 p-5">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="formFile" class="form-label">Identification Proof</label>
                                <select class="form-select input" name="proof" aria-label="Default select example">
                                    <option selected value="">Choose Identification Proof</option>
                                    <option value="1">Driving License</option>
                                    <option value="2">Voter ID</option>
                                    <option value="3">Passport</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Upload Identification Proof</label>
                                    <input class="form-control  files" type="file" name="id"
                                        id="formFile">
                                </div>
                            </div>
                            <div class="col-lg-6 mt-3">
                                <label for="formFile" class="form-label">Residential Details</label>
                                <select class="form-select input" name="addressProof"
                                    aria-label="Default select example">
                                    <option selected value="">Residential Address Proof</option>
                                    <option value="1">Bank Statement</option>
                                    <option value="2">Electricity Bill </option>
                                    <option value="3">Water Bill</option>
                                    <option value="3">Telephone Bill</option>
                                </select>
                            </div>
                            <div class="col-lg-6 mt-3">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Upload Identification Proof</label>
                                    <input class="form-control  files" name="proof" type="file"
                                        id="formFile">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <input type="text" value={{id}} id='id'>
    <button onclick="submitForm()">submit</button>











</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const uploadbtns = document.querySelectorAll('.uploadbtn')


    uploadbtns.forEach(function (uploadbtn) {
        uploadbtn.addEventListener('change', (event) => {
            const src = URL.createObjectURL(event.target.files[0]);

            let formCheck = uploadbtn.parentElement
            let formCheckParent = formCheck.parentElement
            let avatarImg = formCheckParent.querySelector('.avatarImg')
            avatarImg.src = src

        })
    });

    const submitForm = (e) => {
        let id = document.getElementById('id').value

        let demoForm = document.getElementById('demoForm')
        let inputs= demoForm.querySelectorAll('.input')
        let files= demoForm.querySelectorAll('.files')
        var formData = new FormData();
        let valid = true
    /*
        for (i = 0; i < inputs.length; i++) {

            formData.append(inputs[i].name, inputs[i].value);


            if (inputs[i].value == "") {
                console.log(">>>>>>>>>>>>>>>>>>>>>>>", inputs[i].name)
                inputs[i].classList.add("invalid");
                valid = false

            } else {
                inputs[i].classList.remove("invalid");
            }
        }
        */
        console.log(files)

        for (i = 0; i < files.length; i++) {
            let file=files[i]
            
            formData.append('photo', file.files[0]);


            if (files[i].files.length <=0) {
                console.log(">>>>>>>>>>>>>>>>>>>>>>>", files[i].name)
                files[i].classList.add("invalid");
                valid = false

            } else {
                files[i].classList.remove("invalid");
            }
        }






        if (valid ) {
      

            axios.post(`/form/${id}`, formData, {
                  headers: {
                      'Content-Type': 'multipart/form-data'
                  }
              }).then(function(response) {
                  console.log(response)
                  if(response.data.formSave){
                    window.location.href=`/checkout/${response.data.id}`

                  }else{
                    window.location.href=`/checkout/${response.id}`

                  }
              });
              
        }
        







    }

   

</script>